spring:
  application:
    name: "configserver"
  profiles:
#    active: native
    active: git
  cloud:
    config:
      server:
#        native:
#          search-locations: "classpath:/config"
        git:
          uri: "https://github.com/HonourHealth/config-server-repo.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
    bus:
      enabled: false  # Disable Spring Cloud Bus if RabbitMQ is not available
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 5000
    requested-heartbeat: 10
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration  # Exclude RabbitMQ auto-configuration

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: "82A53CC2EF74DH9GE2D3F5BB366P7"

server:
  port: 8071